<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>
<!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="src/style/pg-ng-range.css">
  <title>pg-ng-range</title>

</head>

<body ng-app="pg-ng-range-demo">
	
	<section>

		<article ng-init="demo = {

			min: 0,
			max: 500,
			amount:250,

		}">
			
			<span class="title">CHOOSE THE AMOUNT OF AWESOMENESS</span>
			<div pg-ng-range min="demo.min" max="demo.max" value="demo.amount"></div>
			<div class="input-wrapper">
				MIN<input data-ng-model="demo.min" type="text"/>
			</div>
			<div class="input-wrapper">
				MAX<input data-ng-model="demo.max" type="text"/>
			</div>
			<div class="input-wrapper">
				AMOUNT<input data-ng-model="demo.amount" type="text"/>				
			</div>

		</article>

	</section>

</body>

<script src="node_modules/angular/angular.js"></script>
<script src="src/js/pg-ng-range.js"></script>
<script src="public/js/app.js"></script>

</html>