/* Basic stuff */

html, body, section{ height: 100%; width: 100%; }

body{
	
	font-family: Verdana;
	font-size: 16px;
	line-height: 32px;
	color: greenyellow;
	background-color: #333;
	overflow: hidden;

}

article{

	display:inline-block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}



/* Relevant stuff */

$trnsOpts: 200ms ease;
$barBorderRadius: 8px;
$barGutter: 2px;
$barWidth: calc(1% - #{$barGutter});
$colorizedColor: greenyellow;
$indicatorColor: darken($colorizedColor, 15%);
$defaultColor: rgba($colorizedColor, 0.25);

.pg-range-wrapper{

	width: 600px;
	margin: 0 auto;

	.pg-range {

		$_distance: 25px;
		position: relative;
		margin: 15px auto 0 auto;
		height: 36px;
		width: 100%;

	}

	.range-indicator{

		position: absolute;
		z-index: 800;
		top:-6px;
		height: 100%;
		width: $barWidth;
		border-radius: 5px;
		cursor: ew-resize;
		background-color: $indicatorColor;

	}

	.range-bars{

		height: 25px;
		margin-top:10px;

	}

	.bar{

		width: $barWidth;
		height: 100%;
		background-color: $defaultColor;
		float:left;
		transition: background-color $trnsOpts;

		&:not(:last-child){ margin: 0 2px 0 0 ; }

		&:first-child{

			border-top-left-radius: $barBorderRadius;
			border-bottom-left-radius: $barBorderRadius;

		}

		&:last-child{

			border-top-right-radius: $barBorderRadius;
			border-bottom-right-radius: $barBorderRadius;

		}

		&.colorized{ 

			background-color: $colorizedColor;

		}

	}

	&.dragging{

		cursor: ew-resize;

	}

}
