html, body, section{ height: 100%; width: 100%; }

body{
	
	font-family: Verdana;
	font-size: 16px;
	line-height: 32px;
	color: floralwhite;
	background-color: cadetblue;
	overflow: hidden;

}

$trnsOpts: 125ms ease;
$barGutter: 2px;
$barWidth: calc(1% - #{$barGutter});

.pg-range-wrapper{

	width: 600px;
	margin: 0 auto;

	.pg-range {

		$_distance: 25px;
		position: relative;
		margin: 15px auto 0 auto;
		height: 36px;
		width: 100%;

	}

	.range-indicator{

		position: absolute;
		top:-6px;
		height: 100%;
		width: $barWidth;
		border-radius: 5px;
		cursor: ew-resize;
		background-color: #282828;

	}

	.range-bars{

		height: 25px;
		margin-top:10px;
		border-radius: 6px;
		overflow: hidden;
	}

	.bar{

		width: $barWidth;
		height: 100%;
		background-color: #888;
		float:left;
		transition: background-color $trnsOpts;
		&:not(:last-child){ margin: 0 2px 0 0 ; }
		&.green{ background-color: green; }

	}
}
